<ul class="breadcrumb">
  <% separator = divider %>
  <% if @breadcrumbs %>
    <% @breadcrumbs[0..-2].each do |crumb| %>
      <li>
        <a href="<%= crumb[:url] %>"><%= crumb[:name] %></a>
        <span class="divider"><%= separator %></span>
      </li>
    <% end %>
    <li class="active">
      <a href="<%= @breadcrumbs.last[:url] %>"><%= @breadcrumbs.last[:name] %></a>
    </li>
  <% end %>
</ul>

